:root {
  --hero-color: #77a3c4;
  --section-color: white;
  --footer-color: black;
  --button-color: rgb(246, 116, 69);
  --button-hover: #f6cd45;
  --button-active: rgb(57, 57, 233);
}
/* Universal Selectors */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}

section {
  background-color: var(--section-color);
}
.hero {
  background-color: var(--hero-color);
  padding: 20px;
  height: 100vh;
  color: white;
  font-size: 40px;
}

footer {
  height: 500px;
  background-color: var(--footer-color);
}
nav {
  display: flex;
  justify-content: space-between;
}
ul {
  display: flex;
  list-style-type: none;
  width: 500px;
  justify-content: space-around;
  font-size: 30px;
}
li {
  width: 200px;
  text-decoration: none;
}
h1 {
  font-weight: 800;
  font-size: 90px;
}
h2 {
  font-size: 50px;
  padding-bottom: 60px;
}
p {
  font-weight: 300;
  font-size: 30px;
}
.subtext {
  font-size: 15px;
  font-weight: 300;
}

.logo {
  height: 100px;
  margin-left: 80px;
}
.hero-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.hero-text {
  padding-top: 80px;
  margin-left: 80px;
  margin-bottom: 200px;
}
.button {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 55px;
  text-decoration: none;
  border-radius: 30px;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  padding-top: 5px;
  margin-top: 20px;
  background-color: var(--button-color);
}
.button a {
  text-decoration: none;
  color: var(--section-color);
}

.button:hover {
  background-color: var(--button-hover);
}
.button:active {
  background-color: var(--button-active);
}
.socials {
  padding-bottom: 70px;
}
.social-icons {
  margin: 20px;
}
.sub-section {
  display: flex;
  justify-content: space-around;
  padding: 80px;
  align-items: center;
}
.sub-section-alternative {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 80px;
}

.headshot-container {
  display: flex;
  align-items: center;
}
.headshot {
  width: 300px;
  
  
}
.project-container {
  display: flex;
  justify-content: space-around;
}
.project-card {
  background-color: var(--button-hover);
  width: 300px;
  height: 500px;
  box-shadow: 5px 5px 20px rgb(161, 160, 160);
}
.project-image {
  margin-top: 25px;
  width: 250px;
  height: 250px;
  border-radius: 125px;

}
